body{
  background-color: grey;
  font-family: monospace;
}
.case {
  background-image: url(wood-pattern.png);
  background-size: cover;
  height: 72vw;
  width: 67vw;
  margin: auto;
}
.machine {
  background-color: black;
  height: 70vw;
  width: 65vw;
  margin: auto;
  position: relative;
  top: 1vw;
}
.display-board {
  margin-bottom: 25vw;
}
.lamp-button, .key-button{
  display: inline-block;
  float:left;
  width: 6vw;
  height: 6vw;
  border-radius: 3vw;
  margin-left: 1vw;
  background-color: #333333;
  color: silver;
  border-style: inset;
  border-color: silver;
  border-width: 2px;
  font-weight: 800;
  font-size: larger;
  text-shadow: 2px 7px 8px #FFFFFF;
}
.lamp-button.A, .lamp-button.P {
  clear: left;
}
.lamp-button.A {
  margin-left: 4vw;
}
.lamp-button.lit {
  background-color: white;
}
.keyboard {
  clear: left;
}
.key-button {
  color: white;
  background-color: #333333;
  border-style: solid;
  border-color: silver;
}

.key-button.A, .key-button.P {
  clear: left;
}
.key-button.A {
  margin-left: 4vw;
}

.rotor-assembly {
  margin-left: 17vw;
  margin-bottom: 2vw;
  width: 50%;
  display: inline-block;
}
.rotor {
  display: inline-block;
}
.oval {
  width: 8vw;
  height: 24vw;
  border-radius: 4vw/12vw;
  background-color: silver;
  display: inline-block;
  margin-left: 1vw;
}
.finger-wheel {
  width: 1vw;
  height: 24vw;
  display: inline-block;
  background-color: darkgrey;
  position: absolute;
  background-image: linear-gradient(white 2px, transparent 2px);
  background-size: 20px 20px, 20px 20px;;
}
.plug-board {
  width: 65vw;
  height: 20vw;
  background-color: darkgrey;
  margin-top: 48vw;
  margin-left: -2vw;
  border: 2vw solid #a46f44;
  display: none;  /* temporary  */
}
.rotor-letter {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
  border-style: solid;
  border-width: 0.5vw;
  border-color: lightgrey;
  text-align: center;
}
.manual-entry{
  height: 10vw;
  width: 64vw;
}
.switch{
  width: 10vw;
  height: 5vw;
  border-radius: 5vw 5vw 0vw 0vw;
  background-color: #e6e6e6;
  display: inline-block;
}
.switch-mask{
  width: 6vw;
  height: 3vw;
  border-radius: 3vw 3vw 0vw 0vw;
  background-color: black;
  margin-left: 2vw;
  position: relative;
  top: 2vw;
}

.text-history, .manual-entry {
  display: none;    /* temporary */
}  
