.display-board{
  background-color: grey;
  margin-bottom: 25vw;
}
.lamp-button, .key-button{
  display: inline-block;
  float:left;
  width: 6vw;
  height: 6vw;
  border-radius: 3vw;
  margin-left: 1vw;
}
.lamp-button.A, .lamp-button.P{
  clear: left;
}
.lamp-button.A{
  margin-left: 4vw;
}
.keyboard{
  clear: left;
}
.key-button{
  color: red;
}
.key-button.A, .key-button.P{
  clear: left;
}
.key-button.A{
  margin-left: 4vw;
}
.rotor-assembly{
  margin-left: 20vw;
  margin-bottom: 2vw;
  width: 50%;
}
.oval {
  width: 8vw;
  height: 24vw;
  border-radius: 4vw/12vw;
  background-color: silver;
  display: inline-block;
  margin-left: 1vw;
}
.rotor-letter{
  margin-left: auto;
  margin-right: auto;
  margin-top: 10vw;
  border-style: solid;
  border-width: 0.5vw;
  border-color: lightgrey;
  text-align: center;
}

